<div class="center">
  <h1>Text Input field</h1>
  <form action="/scrabble_score">
    <div class="form-group">
       <label for="scrabble_score">Please enter the word to be scored</label>
       <input id="scrabble_score" name="scrabble_score" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Score it!</button>
  </form>
</div>
